body {
	background: url('/assets/crossword.png');
	/* Helvetica/Arial-based sans serif stack */
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.navbar.navbar-inverse {
	background: url('/assets/footer_lodyas.png');
	border-radius: 0;
	box-shadow: 0px 4px 10px #666666;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-brand {
	color: #AABEFA;
	letter-spacing: -1.3px;
	font-weight: 700;
}

.booyah-box {
  -webkit-box-shadow: 4px 4px 10px #666666;;
  -moz-box-shadow: 4px 4px 10px #666666;
  box-shadow: 4px 4px 10px #666666;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  
}

.booyah-box i+p {
  margin-top: 15px;
}

.pagination-div {
	text-align: center;
}

.field_with_errors {
	color: #FF3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 8px;
}

#map-canvas {
  height: 300px;
}

.clear {
	clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.thumbnail-box {
  height: 150px;
  overflow: hidden;
}

.image-thumbnail {
  width: 100%;
  max-width: 150px;
}

.carousel {
  -webkit-box-shadow: 4px 4px 10px #666666;;
  -moz-box-shadow: 4px 4px 10px #666666;
  box-shadow: 4px 4px 10px #666666;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 550px;
    width: 100%;

}

.carousel-caption {
    left: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 40px;
    font-weight:100;    
    text-shadow: rgba(0,0,0,0.85) 2px 2px;
    background-color: rgba(0,0,0,0.35);
    width:100%;
}